/* display page on phone screen (smaller screens) */
.containter{
    background: #ff04;
}

/* display page on computer screen (larger screens) */
@media (min-width: 600px) {
    .containter {
        width: 100%;
        flex-direction: column;

        background: #00f4;
    }
}