/* display page on phone screen (smaller screens) */
.containter{
    /* background: #ff04; */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 4);
}

.containter h1{
    margin: 20px auto;
}

/* display page on computer screen (larger screens) */
@media (min-width: 600px) {
    .containter {
        width: 100%;
        flex-direction: column;

        /* background: #00f4; */
    }

}